body {
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('https://images.unsplash.com/photo-1476041800959-2f6bb412c8ce?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1920&q=80');
  background-size: cover;
  background-position: center;
}

.navbar-nav:nth-of-type(1){
  margin-left: auto;
}

.nav-link {
  border-bottom: 0.25rem solid transparent;
  padding-left: 0;
}

.active {
  color: white;
  border-bottom: 0.25rem solid rgba(255,255,255,0.7);
}

.nav-link:hover {
  border-bottom-color: rgba(255,255,255,0.5);
}

.lead {
  max-width: 700px;
}

.btn-secondary {
  background-color: rgba(150, 150, 150, 0.5);
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
}